body {
  background-color: #3c5998;
  animation: 1s fade 1;
}
::-webkit-scrollbar {
  width: 3px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c5998;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: white;
}
.container {
  width: 300px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  animation: 1s fade 1;
}
.col-4 {
  padding: 0px;
}
.none {
  display: none;
}
.btn_linker {
  padding: 10px 0px;
  font-weight: lighter;
  width: 100%;
  text-align: center;
  text-decoration: none;
  outline: none !important;
  border: none;
  background: #3c5998;
  color: white;
  transition-duration: 0.3s;
  border-bottom: 3px solid transparent;
}
.btn_linker[disabled] {
  opacity: 0.4;
}
.btn_linker__hover:hover {
  border-bottom: 3px solid #ffffff8a;
}
.red {
  color: mediumvioletred;
}
.white {
  color: white;
}
.blue {
  color: mediumvioletred;
}
.green {
  color: greenyellow;
}
.scroll {
  overflow-y: auto;
  height: 200px;
  overflow-x: hidden;
}
.list-group {
  border-radius: 0px;
  text-align: left;
}
.list-group-item {
  font-size: 0.8em;
}
.list-secured {
  background: #caffca;
}
.list-unsecured {
  background: peachpuff;
}
.alert {
  margin: 0px !important;
  border-radius: 0px !important;
  padding: 0px;
  background: white;
  color: #3c5998;
  border: solid white;
  font-weight: 300;
  animation: 1s fade 1;
  box-shadow: -1px 1px 3px 0px #585858;
  z-index: 100;
}
.active {
  border-bottom: 3px solid white;
}
.appear {
  animation: 0.3s appear 1;
}
.advisory {
  padding: 15px;
  text-transform: uppercase;
  background: white;
}
.advisory__logo {
  width: 2em;
  height: 2em;
}
.advisory__logo-invalid {
  color: #e27222;
}
.advisory__logo-safepage {
  color: lightgreen;
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.logo_nav {
  color: white;
  animation: 2s fadeLogo 1;
  transition-duration: 0.3s;
}
@keyframes fadeLogo {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.spinner-border {
  margin: 15px;
}
.insafe {
  color: #ff5722;
}
.safe {
  color: #90ee90;
}
.primary {
  color: white;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  font-size: 0.2em;
  margin: 15px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  margin-bottom: 30px;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.block-insecures {
  text-align: center;
  background: white;
  padding: 5px 0px 10px 0px;
}
.btn-blocklinks {
  color: #e27222;
  border: none;
  background: none;
  padding: 0px;
  margin: 0px;
}
