::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #293d9b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #59c6a7;
}
.container {
  width: 300px;
  margin: 0px;
  padding: 0px;
  border: 1px solid #00b1b9;
  text-align: center;
}
.col-4 {
  padding: 0px;
}
.none {
  display: none;
}
.btn_linker {
  padding: 10px 0px;
  font-weight: lighter;
  width: 100%;
  text-align: center;
  text-decoration: none;
  outline: none !important;
  border: 0.3px solid white;
}
.btn_linker:focus {
  background: gainsboro !important;
}
.red {
  color: mediumvioletred;
}
.blue {
  color: mediumvioletred;
}
.green {
  color: green;
}
.scroll {
  overflow-y: auto;
  height: 200px;
  overflow-x: hidden;
}
.list-group {
  border-radius: 0px;
}
.list-group-item {
  font-size: 0.8em;
}
.list-secured {
  background: lightgreen;
}
.list-unsecured {
  background: palevioletred;
}
.alert {
  margin: 0px !important;
  border-radius: 0px !important;
  padding: 0px;
  background: black;
  color: #c5c5c5;
  border: solid black;
  font-weight: 300;
}
.btn-focus {
  background: #d9d9d9;
}
